<%= form_with(model: image_session, local: true) do |form| %>

<script type="text/javascript">
  var correctSound = new Audio("<%= audio_path 'Correct.mp3' %>");
  var wrongSound = new Audio("<%= audio_path 'Wrong.mp3' %>");
  var okaySound = new Audio("<%= audio_path 'Okay.mp3' %>")

  var greenAreasLeft = <%= @image.green_areas.length() %>; //global variable
  var blueAreasLeft = <%= @image.blue_areas.length() %>;



  //function to respond to clicks - for sound and display only. Score kept through controller buttons

  function greenClicked() {
    if (greenAreasLeft > 0) {
    greenAreasLeft--;
    correctSound.play();
    alert("You clicked green!");
    }
  }

  function blueClicked() {
    if (greenAreasLeft == 0 && blueAreasLeft > 0) {
      blueAreasLeft--;
      correctSound.play();
      alert("You clicked blue!");
    } else {
      okaySound.play();
      alert("Not yet! More areas to bioposy remaining");
    }
  }

  function colorlessClicked() {
    wrongSound.play();
    alert("Wrong!");
  }

  //checking for score. This will be overview page later
  function showScore() {
    alert("hi");
  }

  //function to scale image-map
  !function(){"use strict";function r(){function e(){var r={width:u.width/u.naturalWidth,height:u.height/u.naturalHeight},a={width:parseInt(window.getComputedStyle(u,null).getPropertyValue("padding-left"),10),height:parseInt(window.getComputedStyle(u,null).getPropertyValue("padding-top"),10)};i.forEach(function(e,t){var n=0;o[t].coords=e.split(",").map(function(e){var t=1==(n=1-n)?"width":"height";return a[t]+Math.floor(Number(e)*r[t])}).join(",")})}function t(e){return e.coords.replace(/ *, */g,",").replace(/ +/g,",")}function n(){clearTimeout(d),d=setTimeout(e,250)}function r(e){return document.querySelector('img[usemap="'+e+'"]')}var a=this,o=null,i=null,u=null,d=null;"function"!=typeof a._resize?(o=a.getElementsByTagName("area"),i=Array.prototype.map.call(o,t),u=r("#"+a.name)||r(a.name),a._resize=e,u.addEventListener("load",e,!1),window.addEventListener("focus",e,!1),window.addEventListener("resize",n,!1),window.addEventListener("readystatechange",e,!1),document.addEventListener("fullscreenchange",e,!1),u.width===u.naturalWidth&&u.height===u.naturalHeight||e()):a._resize()}function e(){function t(e){e&&(!function(e){if(!e.tagName)throw new TypeError("Object is not a valid DOM element");if("MAP"!==e.tagName.toUpperCase())throw new TypeError("Expected <MAP> tag, found <"+e.tagName+">.")}(e),r.call(e),n.push(e))}var n;return function(e){switch(n=[],typeof e){case"undefined":case"string":Array.prototype.forEach.call(document.querySelectorAll(e||"map"),t);break;case"object":t(e);break;default:throw new TypeError("Unexpected data type ("+typeof e+").")}return n}}"function"==typeof define&&define.amd?define([],e):"object"==typeof module&&"object"==typeof module.exports?module.exports=e():window.imageMapResize=e(),"jQuery"in window&&(window.jQuery.fn.imageMapResize=function(){return this.filter("map").each(r).end()})}();

</script>

<p id="notice"><%= notice %></p>

<%= render "scorepage" %>
<h1>Image</h1>


<%= button_to('Click colorless', image_session_path, params: {colorlessWrong: @image_session.colorlessWrong + 1}, method: :patch)%>


<!--displaying the image -->
<%= form_tag image_session_path, method: "patch" do %>
<%= hidden_field_tag :colorlessWrong, @image_session.colorlessWrong + 1 %>
<%= button_tag() do %>
<%= image_tag(@image.img_url, usemap: "#map", id: "image", onclick: "colorlessClicked()")%>
<%end%>
<%end%>


<!-- map for image -->
<map name="map">
  <!-- conditionals to count wrong and right -->

  <% @image.green_areas.each do |green_area| %>
    <div class="green_area-field">
      <%= form_tag image_session_path, method: "patch" do %>
        <%= hidden_field_tag :greenRight, @image_session.greenRight + 1 %>
        <%= hidden_field_tag :greenLeft, @image_session.greenLeft + 1 %>
        <%= button_tag() do %>
        <area shape="circle" coords="<%= green_area.coordinates%>" alt="green area" onclick="greenClicked()">
        <%end%>
      <%end%>
    </div>
  <% end %>


  <% @image.blue_areas.each do |blue_area| %>
  <div class="blue_area-field">
  <area shape="circle" coords="<%= blue_area.coordinates %>" alt="blue area" onclick="blueClicked()">
  </div>
  <% end %>

  <div class="green_area-field">
    <%= form_tag image_session_path, method: "patch" do %>
      <%= hidden_field_tag :greenRight, @image_session.greenRight + 1 %>
      <%= hidden_field_tag :greenLeft, @image_session.greenLeft - 1 %>
      <%= button_tag do %>
      <area shape="circle" coords="0,0,200,200" alt="green area" onclick="greenClicked()">
      <%end%>
    <%end%>
  </div>


</map>

<!--button to move on. Scores record as they go-->
<button type="button" name="button" onclick="showScore()">Submit</button>


<%= link_to 'Back', image_sets_path %>

<script type="text/javascript">
  imageMapResize(); //rescale image-map
</script>

<% end %>
