<div class="scoreboard">
  <p>
  <strong>Areas Right:</strong>
  <%= @image_session.greenRight %>
</p>

<p>
  <strong>ECC right:</strong>
  <%= @image_session.blueRight %>
</p>

<p>
  <strong>ECC wrong:</strong>
  <%= @image_session.blueWrong %>
</p>

<p>
  <strong>Areas Wrong:</strong>
  <%= @image_session.colorlessWrong %>
</p>

<p>
  <strong>Greenleft:</strong>
  <%= @image_session.greenLeft %>
</p>

<p>
  <strong>Blueleft:</strong>
  <%= @image_session.blueLeft %>
</p>

<p>
  <strong>Image:</strong>
  <%= @image_session.image_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @image_session.user_id %>
</p>

</div>
