<div class="scoreboard">
   <ul style="list-style-type:none;">
      <!-- green areas -->
      <% if @image_session.greenRight != @image.green_areas.length() %>
         <li><strong>Missed</strong> <strong><%=  @image.green_areas.length() -@image_session.greenWrong %></strong> out of <strong><%= @image.green_areas.length() %></strong> bioposy sites.</li>
      <% end %>
      <li><strong>Correctly</strong> bioposied <strong><%= @image_session.greenRight %></strong> out of <strong><%= @image.green_areas.length() %></strong> sites.</li>
      <!-- colorlessWrong-->
      <li>Selected <strong>incorrect</strong> areas to biopsy <strong><%= @image_session.colorlessWrong %></strong> times.</li>
      <br/>


      <!-- blue areas -->
      <!-- if there is ECC-->
      <% if @image_session.image.blue_areas.length() == 1%>
         <% if @image_session.blueRight == 1 && @image_session.blueWrong > 0%>
            <li>Requested ECC <strong>before finishing</strong> all bioposies needed. </li>
         <% elsif @image_session.blueLeft == 1%>
            <li><strong>Did not request</strong> an <strong>ECC</strong> when it was needed.</li>
         <% else %>
            <li><strong>Correctly</strong> requested an <strong>ECC.</strong></li>
         <%end%>
      <!-- no ECC-->
      <%else%>
         <% if @image_session.blueWrong > 0 %>
            <li><strong>Requested ECC</strong> when it was <strong>not needed.</strong> </li>
         <% else %>
            <li><strong>Correctly</strong> did not request an <strong>ECC.</strong></li>
         <%end%>
      <%end %>

      <!--impression -->
      <% if @image_session.impression_correct == true %>
         <li>Chose <strong><%= @image_session.impression %></strong> as the impression, which is <strong>correct.</strong></li>
      <% elsif @image_session.impression_correct == false%>
         <li>Chose <strong><%= @image_session.impression %>,</strong> which is <strong>incorrect.</strong> The correct impression is <strong><%= @image_set.impression %></strong> </li>
      <% end %>


   </ul>
</div>
