<div class="summary">


   <strong>Lesion Location of Cervical Biopsies:</strong>
   <ul style="list-style-type:none;">
      <li><%= @image_set.lesion_location %></li>
      <li><%= image_tag(@image.ans_img_url, class: 'img-fluid my-2') %></li>
   </ul>

   <strong>ECC:</strong>
   <ul style="list-style-type:none;">
      <li><%= @image_set.ECC %> 
      <button type="button" class="modal-link" data-toggle="modal" data-target="#exampleModalCenter">
         When is an ECG indicated?
      </button>
      </li>
   </ul>

   <strong>Category:</strong>
   <ul style="list-style-type:none;">
      <li><%= @image_set.category %></li>
   </ul>

   <strong>Pathology:</strong>
   <ul style="list-style-type:none;">
      <li><%= @image_set.pathology %></li>
   </ul>

   <strong>Findings:</strong>
   <ul style="list-style-type:none;">
      <li><%= @image_set.findings %></li>
   </ul>

</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">When is an ECG indicated?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         An ECC is indicated when the entire SCJ not visible, or there is concern that the lesion is extending into the cervical canal 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>