<script type="text/javascript">
  var correctSound = new Audio("<%= audio_path 'Correct.mp3' %>");
  var wrongSound = new Audio("<%= audio_path 'Wrong.mp3' %>");
  var okaySound = new Audio("<%= audio_path 'Okay.mp3' %>")

  //global variables
  var greenRight = 0;
  var greenWrong = 0;
  var greenLeft = <%= @image.green_areas.length() %>;

  var blueRight = 0;
  var blueWrong = 0;
  var blueLeft = <%= @image.blue_areas.length() %>;
  var numBlueAreas = <%= @image.blue_areas.length() %>;

  var colorlessWrong = 0;

  //var correct_impression_ans = <%= @image_set.impression %>;
  var impression_correct = null;

  window.onload = function(){
     $(document).ready(function(){
        $("#greenRight").val(greenRight);
        $("#greenWrong").val(greenWrong);
        $("#greenLeft").val(greenLeft);
        $("#blueRight").val(blueRight);
        $("#blueLeft").val(blueLeft);
        $("#blueWrong").val(blueWrong);
        $("#colorlessWrong").val(colorlessWrong);
        $("#impression_correct").val(impression_correct);
     });
  };

  //function to respond to clicks - for sound and display only. Score kept through controller buttons

  function submit() {
   document.getElementById("image_session_form").submit();
 }

  function checkDone() {
     if (numBlueAreas == 1) {
        if (blueLeft == 0 && greenLeft == 0)
        submit();
     } else {
        if (greenLeft == 0) {
           submit();
        }
     }
  }

    function disable(id) {
    document.getElementById(id).setAttribute('disabled', true);
   }

  function greenClicked(id) {
    var feedback = document.getElementById('feedback');

    if ( document.getElementById(id).getAttribute('disabled')) { //if already clicked
    feedback.innerHTML = "You already selected this area to biopsy";
    okaySound.play();} else {
      //if not clicked
      greenRight++;
      greenLeft--;
      feedback.innerHTML = "Correct area to biopsy";
      correctSound.play();
      disable(id);
      }

    $(document).ready(function(){
         $("#greenRight").val(greenRight);
         $("#greenWrong").val(greenWrong);
         $("#greenLeft").val(greenLeft);
         checkDone();
    });
  }

  function blueClicked() {
    var feedback = document.getElementById('feedback');
    if (numBlueAreas == 0 ) {
      blueWrong++;
      feedback.innerHTML = "ECC Request is not needed";
      okaySound.play();
    }
    else if ( greenLeft == 0 && blueLeft == 1 ) {
      blueLeft--;
      blueRight++;
      feedback.innerHTML = "Correct to request an ECC";
      correctSound.play();
    }
    else {
      blueWrong++;
      feedback.innerHTML = "More areas to bioposy remaining";
      okaySound.play();
    }

    $(document).ready(function(){
         $("#blueRight").val(blueRight);
         $("#blueLeft").val(blueLeft);
         $("#blueWrong").val(blueWrong);
         checkDone(); //check done when it's ready will write all fields
    });
  }

  function colorlessClicked() {
    colorlessWrong++;
    var feedback = document.getElementById('feedback');
    feedback.innerHTML = "Incorrect area to biopsy";
    wrongSound.play();

    $(document).ready(function(){
         $("#colorlessWrong").val(colorlessWrong);
    });
  }

  function submitClicked() {
      wrongSound.play();
      submit();
 }

 function impressionClicked(value) {
    //<%= @image.image_set %>
    if (value.valueOf() == "<%= @image_set.impression %>".valueOf()) {
      impression_correct = true;
   } else {
      impression_correct = false;
   }
    document.getElementById("submit_button").removeAttribute('disabled');
   $(document).ready(function(){
     $("#impression_correct").val(impression_correct);
   });
}



  //function to scale image-map
  !function(){"use strict";function r(){function e(){var r={width:u.width/u.naturalWidth,height:u.height/u.naturalHeight},a={width:parseInt(window.getComputedStyle(u,null).getPropertyValue("padding-left"),10),height:parseInt(window.getComputedStyle(u,null).getPropertyValue("padding-top"),10)};i.forEach(function(e,t){var n=0;o[t].coords=e.split(",").map(function(e){var t=1==(n=1-n)?"width":"height";return a[t]+Math.floor(Number(e)*r[t])}).join(",")})}function t(e){return e.coords.replace(/ *, */g,",").replace(/ +/g,",")}function n(){clearTimeout(d),d=setTimeout(e,250)}function r(e){return document.querySelector('img[usemap="'+e+'"]')}var a=this,o=null,i=null,u=null,d=null;"function"!=typeof a._resize?(o=a.getElementsByTagName("area"),i=Array.prototype.map.call(o,t),u=r("#"+a.name)||r(a.name),a._resize=e,u.addEventListener("load",e,!1),window.addEventListener("focus",e,!1),window.addEventListener("resize",n,!1),window.addEventListener("readystatechange",e,!1),document.addEventListener("fullscreenchange",e,!1),u.width===u.naturalWidth&&u.height===u.naturalHeight||e()):a._resize()}function e(){function t(e){e&&(!function(e){if(!e.tagName)throw new TypeError("Object is not a valid DOM element");if("MAP"!==e.tagName.toUpperCase())throw new TypeError("Expected <MAP> tag, found <"+e.tagName+">.")}(e),r.call(e),n.push(e))}var n;return function(e){switch(n=[],typeof e){case"undefined":case"string":Array.prototype.forEach.call(document.querySelectorAll(e||"map"),t);break;case"object":t(e);break;default:throw new TypeError("Unexpected data type ("+typeof e+").")}return n}}"function"==typeof define&&define.amd?define([],e):"object"==typeof module&&"object"==typeof module.exports?module.exports=e():window.imageMapResize=e(),"jQuery"in window&&(window.jQuery.fn.imageMapResize=function(){return this.filter("map").each(r).end()})}();
</script>
<!-- for automatic timeout-->
<script type="text/javascript">
   var warningTimeout = 300000;
   var timoutNow = 30000;
   var warningTimerID,timeoutTimerID;

   function startTimer() {
   // window.setTimeout returns an Id that can be used to start and stop a timer
   warningTimerID = window.setTimeout(warningInactive, warningTimeout);
   }

   function warningInactive() {
   window.clearTimeout(warningTimerID);
   timeoutTimerID = window.setTimeout(IdleTimeout, timoutNow);
   $('#modalAutoLogout').modal('show');
   }

   function resetTimer() {
   window.clearTimeout(timeoutTimerID);
   window.clearTimeout(warningTimerID);
   startTimer();
   }

   // Logout the user.
   function IdleTimeout() {
   document.getElementById('glossary_session_form').submit();
   }

   function setupTimers () {
   document.addEventListener("mousemove", resetTimer, false);
   document.addEventListener("mousedown", resetTimer, false);
   document.addEventListener("keypress", resetTimer, false);
   document.addEventListener("touchmove", resetTimer, false);
   document.addEventListener("onscroll", resetTimer, false);
   startTimer();
   }

   $(document).on('click','#btnStayLoggedIn',function(){
   resetTimer();
   $('#modalAutoLogout').modal('hide');
   });

   $(document).ready(function(){
   setupTimers();
   });
</script>

<%= form_with model: @image_session, html: {id: "image_session_form"} do |form| %>
<!-- form to submit everything -->
   <%= hidden_field_tag :user_id, current_user.id %>
   <%= hidden_field_tag :image_id, @image.id %>
   <%= hidden_field_tag :greenRight, @greenRight %>
   <%= hidden_field_tag :greenWrong, @greenWrong %>
   <%= hidden_field_tag :greenLeft, @greenLeft %>
   <%= hidden_field_tag :blueRight, @blueRight %>
   <%= hidden_field_tag :blueWrong, @blueWrong %>
   <%= hidden_field_tag :blueLeft, @blueLeft %>
   <%= hidden_field_tag :colorlessWrong, @colorlessWrong %>
   <%= hidden_field_tag :impression_correct, @impression_correct %>

   <!--navbar-->
   <nav class="navbar fixed-top navbar-expand-sm bg-light justify-content-between">
      <div>
      <%= link_to(image_tag("logos/LogoSmallNoWords.jpg", style: "width:27px"), signed_in_root_url) %> Col | Pro
      </div>

      <!-- Links -->
      <ul class="navbar-nav d-flex" id="navbar-item">
        <li>
           <div >
            <%= link_to "Exit Practice", signed_in_root_url %>
          </div>
        </li>
      </ul>
   </nav>


   <!--start page content-->
   <div class="container-fluid fullscreen remove-all-margin-padding" >
      <!-- header-->
      <div class="row" style="height: 15%;">
         <div class="col h-100">
            <div id="feedback">
               Click on the area you should biposy on the image. Click the button 'Request ECC' if you wish to do so. You must answer for the impression before submitting.
            </div>
         </div>
      </div>
      <!--image and map -->
      <div class="row" style="height: 70%;"  >
         <div class="col h-100">
            <!--displaying the image-->
            <%= image_tag(@image.img_url, usemap: "#map", id: "practice-image", class: 'full-img rounded', onclick: "colorlessClicked()")%>

            <div class="green_area-field">
              <!-- map for image -->
              <map name="map" style="height: 100%;">
               <% @image.green_areas.each do |green_area| %>
                  <area shape="<%= green_area.shape%>" coords="<%= green_area.coordinates%>" alt="green area" id="<%= green_area.id %>" onclick="greenClicked(<%= green_area.id %>)">
               <%end%>
              </map>
           </div>
         </div>
      </div>
      <!--ECC and submit button-->
      <div class="row mb-2" style="height: 5%;"  >
         <div class="col d-flex justify-content-center">
            <h6>Image: <%= @image.image_type%></h6>
         </div>
      </div>
      <div class="row" >
         <div class="col d-flex justify-content-between"  style="height: 2%;">
               <button type='button' onclick="blueClicked()">ECC Requested</button>
               <div class="impression">
               Impression?
                  <%= radio_button_tag :impression, 'normal', false, onclick: "impressionClicked('normal');" %> normal
                  <%= radio_button_tag :impression, 'low grade', false, onclick: "impressionClicked('low grade')" %> low grade
                  <%= radio_button_tag :impression, 'high grade', false, onclick: "impressionClicked('high grade');"%> high grade
                  <%= radio_button_tag :impression, 'suspicious for invasion', false, onclick: "impressionClicked('suspicious for invasion')"%> susp. for invasion
               </div>
               <button id="submit_button" onclick="submitClicked()" disabled>Submit ></button>
         </div>
      </div>

   </div>

<%end%>

<!-- Modal -->
<div id="modalAutoLogout" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
         <h4 class="modal-title">Inactive Warning</h4>
      </div>
      <div class="modal-body">
        You have been inactive for 5 min. This session will automatically submit unless you click "Continue" remain on this practice image.
      </div>
      <div class="modal-footer">
        <button id="btnStayLoggedIn" type="button" class="btn btn-default" data-dismiss="modal">CONTINUE</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  imageMapResize(); //rescale image-map
</script>
