<script type="text/javascript">
  var correctSound = new Audio("<%= audio_path 'Correct.mp3' %>");
  var wrongSound = new Audio("<%= audio_path 'Wrong.mp3' %>");
  var okaySound = new Audio("<%= audio_path 'Okay.mp3' %>")

  //global variables
  var greenRight = 0;
  var greenWrong = 0;
  var greenLeft = <%= @image.green_areas.length() %>;

  var blueRight = 0;
  var blueWrong = 0;
  var blueLeft = <%= @image.blue_areas.length() %>;
  var numBlueAreas = <%= @image.blue_areas.length() %>;

  var colorlessWrong = 0;


  //function to respond to clicks - for sound and display only. Score kept through controller buttons

  function greenClicked() {
    var feedback = document.getElementById('feedback');
    if ( greenLeft > 0 ) {
    greenRight++;
    greenLeft--;
    feedback.innerHTML = "Correct area to biopsy";
    correctSound.play();
    }

    $(document).ready(function(){
         $("#greenRight").val(greenRight);
    });
  }

  function blueClicked() {
    var feedback = document.getElementById('feedback');
    if ( greenLeft == 0 && blueLeft > 0 ) {
      blueLeft--;
      blueRight++;
      feedback.innerHTML = "Correct to request an ECC";
      correctSound.play();
    }
    else if (numBlueAreas == 0 ) {
      blueWrong++;
      feedback.innerHTML = "More areas to bioposy remaining";
      okaySound.play();
    }
    else {
      blueWrong++;
      feedback.innerHTML = "More areas to bioposy remaining";
      okaySound.play();
    }

    $(document).ready(function(){
         $("#blueLeft").val(blueLeft);
         $("#blueRight").val(blueRight);
    });
  }

  function colorlessClicked() {
    colorlessWrong++;
    var feedback = document.getElementById('feedback');
    feedback.innerHTML = "Incorrect area to biopsy";
    wrongSound.play();

    $(document).ready(function(){
         $("#colorlessWrong").val(colorlessWrong);
    });
  }

  //function to scale image-map
  !function(){"use strict";function r(){function e(){var r={width:u.width/u.naturalWidth,height:u.height/u.naturalHeight},a={width:parseInt(window.getComputedStyle(u,null).getPropertyValue("padding-left"),10),height:parseInt(window.getComputedStyle(u,null).getPropertyValue("padding-top"),10)};i.forEach(function(e,t){var n=0;o[t].coords=e.split(",").map(function(e){var t=1==(n=1-n)?"width":"height";return a[t]+Math.floor(Number(e)*r[t])}).join(",")})}function t(e){return e.coords.replace(/ *, */g,",").replace(/ +/g,",")}function n(){clearTimeout(d),d=setTimeout(e,250)}function r(e){return document.querySelector('img[usemap="'+e+'"]')}var a=this,o=null,i=null,u=null,d=null;"function"!=typeof a._resize?(o=a.getElementsByTagName("area"),i=Array.prototype.map.call(o,t),u=r("#"+a.name)||r(a.name),a._resize=e,u.addEventListener("load",e,!1),window.addEventListener("focus",e,!1),window.addEventListener("resize",n,!1),window.addEventListener("readystatechange",e,!1),document.addEventListener("fullscreenchange",e,!1),u.width===u.naturalWidth&&u.height===u.naturalHeight||e()):a._resize()}function e(){function t(e){e&&(!function(e){if(!e.tagName)throw new TypeError("Object is not a valid DOM element");if("MAP"!==e.tagName.toUpperCase())throw new TypeError("Expected <MAP> tag, found <"+e.tagName+">.")}(e),r.call(e),n.push(e))}var n;return function(e){switch(n=[],typeof e){case"undefined":case"string":Array.prototype.forEach.call(document.querySelectorAll(e||"map"),t);break;case"object":t(e);break;default:throw new TypeError("Unexpected data type ("+typeof e+").")}return n}}"function"==typeof define&&define.amd?define([],e):"object"==typeof module&&"object"==typeof module.exports?module.exports=e():window.imageMapResize=e(),"jQuery"in window&&(window.jQuery.fn.imageMapResize=function(){return this.filter("map").each(r).end()})}();
</script>

<%= form_with model: @image_session do |form| %>
<!-- form to submit everything -->
   <%= hidden_field_tag :user_id, current_user.id %>
   <%= hidden_field_tag :image_id, @image.id %>
   <%= hidden_field_tag :greenRight, @greenRight %>
   <%= hidden_field_tag :greenWrong, @greenWrong %>
   <%= hidden_field_tag :greenLeft, @greenLeft %>
   <%= hidden_field_tag :blueRight, @blueRight %>
   <%= hidden_field_tag :blueWrong, @blueWrong %>
   <%= hidden_field_tag :blueLeft, @blueLeft %>
   <%= hidden_field_tag :colorlessWrong, @colorlessWrong %>

   <!--navbar-->
   <nav class="navbar fixed-top navbar-expand-sm bg-light justify-content-between">
      <!--logo-->
      <div>
      <%= link_to(image_tag("LogoSmallNoWords.jpg", style: "width:27px"), signed_in_root_url) %> Col | Pro
      </div>

      <div>
         Practice Session
      </div>

      <!-- Links -->
      <ul class="navbar-nav d-flex" id="navbar-item">
         <li>
            <div >
               <%= form.submit "Quit" %>
            </div>
         </li>
      </ul>
   </nav>

   <!--start page content-->
   <div class="container">
      <!-- header-->
      <div class="row">
         <div id="feedback">
           Click on the area to biopsy
         </div>
      </div>
      <!--image and map -->
      <div class="row justify-content-center">
         <!--displaying the image-->
         <%= image_tag(@image.img_url, usemap: "#map", id: "image", onclick: "colorlessClicked()")%>

         <div class="green_area-field">
           <!-- map for image -->
           <map name="map">
            <% @image.green_areas.each do |green_area| %>
               <area shape="<%= green_area.shape%>" coords="<%= green_area.coordinates%>" alt="green area" onclick="greenClicked()">
            <%end%>
           </map>
         </div>
      </div>
      <!--ECC and submit button-->
      <div class=" row form-inline justify-content-between">
         <button onclick="blueClicked()">ECC Requested</button>
         <%= form.submit "Finished >" %>
      </div>
   </div>

<%end%>


<script type="text/javascript">
  imageMapResize(); //rescale image-map
</script>
