<!--navbar-->
<nav class="navbar fixed-top navbar-expand-sm bg-light justify-content-between">
   <%= link_to(image_tag("ColPractLogo.png", style: "width:40px"), signed_in_root_url) %>
   <div>
      Practice Session
   </div>
   <!-- Links -->
   <ul class="navbar-nav d-flex" id="navbar-item">
     <li>
        <div >
         <%= link_to "Exit Practice", signed_in_root_url %>
       </div>
     </li>
   </ul>
</nav>

<div class="container">
  <div class="row">
    <div class="col-6">
      <%= render "scorepage" %>
    </div>
    <div class="col-6"
      <%= render "image_sets/summary_page" %>
    </div>
  </div>
</div>

<%= link_to 'Back to Practice', image_sets_path %> |
<%= link_to 'Exit Practice', signed_in_root_url %>
