<!--navbar-->
<nav class="navbar fixed-top navbar-expand-sm bg-light justify-content-between">
   <div>
   <%= link_to(image_tag("logos/LogoSmallNoWords.jpg", style: "width:27px"), signed_in_root_url) %> Col | Pract
   </div>

   <!-- Links -->
   <ul class="navbar-nav d-flex" id="navbar-item">
     <li>
        <div >
           <% if !(@did_ten_sets) %>
             <%= link_to "Exit Practice", signed_in_root_url %>
           <% end %>
       </div>
     </li>
   </ul>
</nav>

<div class="container session-feedback">
   <div class="row mt-3">
    <div class="col-sm">
      <!-- image set information/answers-->
      <h3>Summary Page</h3>
      <%= render "set_information" %>
    </div>
    <div class="col-sm">
      <!-- personal user score-->
      <h4>Feedback</h4>
      <%= render "session_score" %>
      <br/>
      <div class="d-flex justify-content-around">
         <ul style="list-style-type:none;">
            <%if @did_ten_sets %>
               <li> <p style="color: MediumSlateBlue">This is your 10th practice image. </p> </li>
               <li><%= link_to 'Take Post-Survey and Test >', new_post_survey_path, class: "alert-link" %></li>
            <%else%>
               <li><%= link_to '< Back to Practice', image_sets_path %></li>
            <% end %>
         </ul>
      </div>
    </div>
   </div>
</div>
