<div class="glossary">
   <div class="title">
      <h2>The ASCCP Terminology for Colposcopic Practice</h2>
   </div>
   <div class="table-responsive">
     <table class="table">
        <caption>Table from Evidence-Based Consensus Recommendations for Colposcopy Practice for Cervical Cancer Prevention in the United States, Journal of Lower Genital Tract Disease: October 2017 - Volume 21 - Issue 4 - p 216-222<br>Photos from © International Agency for Research on Cancer
       </caption>
        <thead>
          <tr>
             <th>Category</th>
             <th>Features/criteria</th>
             <th>Details</th>
         </tr>
      </thead>
       <tr>
          <td>General assessment</td>
          <td>Visualization of the cervix <br/>
          Visualization of the SCJ</td>
          <td>Fully visualized/not fully visualized<br/>
          Fully visualized/not fully visualized</th>
       </tr>
       <tr>
          <td>Acetowhite changes <button type="button" class="modal-link" data-toggle="modal" data-target="#Acetowhite">Learn more</button></td>
          <td>Any degree of whitening after application of 3%-5% acetic acid</td>
          <td>Yes/no</td>
       </tr>
       <tr>
          <td>Normal colposcopic findings</td>
          <td>Original squamous epithelium: mature, atrophic <button type="button" class="modal-link" data-toggle="modal" data-target="#SquaJunction">Learn more</button><br/>
          Columnar epithelium <button type="button" class="modal-link" data-toggle="modal" data-target="#SquaJunction">Learn more</button><br/>
          Ectopy/ectropion <button type="button" class="modal-link" data-toggle="modal" data-target="#ectropion">Learn more</button><br/>
          Metaplastic squamous epithelium <button type="button" class="modal-link" data-toggle="modal" data-target="#SquaMeta">Learn more</button><br/>
          Nabothian cysts <button type="button" class="modal-link" data-toggle="modal" data-target="#NabothianCysts">Learn more</button><br/>
          Crypt (gland) openings <button type="button" class="modal-link" data-toggle="modal" data-target="#CryptOpenings">Learn more</button><br/>
          Deciduosis in pregnancy <button type="button" class="modal-link" data-toggle="modal" data-target="#DecidPreg">Learn more</button><br/>
          Submucosal branching vessels <button type="button" class="modal-link" data-toggle="modal" data-target="#SubBranch">Learn more</button><br/></td>
          <td></td>
       </tr>
       <tr>
          <td rowspan="8">Abnormal colposcopic findings</td>
          <td>Lesions(s) present (acetowhite or other)</td>
          <td>Yes/no</td>
       </tr>
       <tr>
          <td>Location of each lesion</td>
          <td>
             <ul>
                <li>Clock position</li>
                <li>At the SCJ (yes/no)</li>
                <li>Lesion visualized (fully/not fully)</li>
                <li>Satellite lesion <button type="button" class="modal-link" data-toggle="modal" data-target="#SatelliteLesion">Learn more</button></li>
             </ul>
          </td>
       </tr>
       <tr>
          <td>Size of each lesion</td>
          <td>
             <ul>
                <li>No, cervical quadrants the lesion involves</li>
                <li>Percentage of surface area of TZ occupied by the lesion</li>
             </ul>
          </td>
       </tr><tr>
          <td>Low-grade features <button type="button" class="modal-link" data-toggle="modal" data-target="#LowGrade">Learn more</button></td>
          <td>
             Acetowhite
             <ul>
                <li>Thin/translucent <button type="button" class="modal-link" data-toggle="modal" data-target="#ThinAcetowhite">Learn more</button></li>
                <li>Rapidly fading</li>
             </ul>
             Acetowhite
             <ul>
                <li>Fine mosaic <button type="button" class="modal-link" data-toggle="modal" data-target="#FineMosaic">Learn more</button></li>
                <li>Fine punctation <button type="button" class="modal-link" data-toggle="modal" data-target="#FinePunctation">Learn more</button></li>
             </ul>
             Acetowhite
             <ul>
                <li>Irregular/geographic border<button type="button" class="modal-link" data-toggle="modal" data-target="#IrregularBorder">Learn more</button></li>
             </ul>
             Acetowhite
           <ul>
              <li>Condylomatous/raised/papillary<button type="button" class="modal-link" data-toggle="modal" data-target="#Condyloma">Learn more</button></li>
              <li>Flat</li>
           </ul>
          </td>
       </tr><tr>
          <td>High-grade features <button type="button" class="modal-link" data-toggle="modal" data-target="#HighGrade">Learn more</button></td>
          <td>
             Acetowhite
             <ul>
                <li>Thick/dense <button type="button" class="modal-link" data-toggle="modal" data-target="#ThickAW">Learn more</button></li>
                <li>Rapidly appearing/slowly fading</li>
                <li>Cuffed crypt (gland) openings <button type="button" class="modal-link" data-toggle="modal" data-target="#CuffedOpenings">Learn more</button></li>
                <li>Variegated red and white</li>
             </ul>
             Acetowhite
             <ul>
                <li>Coarse mosaic <button type="button" class="modal-link" data-toggle="modal" data-target="#CoarseMosaic">Learn more</button></li>
                <li>Coarse punctation <button type="button" class="modal-link" data-toggle="modal" data-target="#CoarsePunctation">Learn more</button></li>
             </ul>
             Acetowhite
             <ul>
                <li>Sharp border <button type="button" class="modal-link" data-toggle="modal" data-target="#SharpBorder">Learn more</button></li>
                <li>Inner border sign (internal margin) <button type="button" class="modal-link" data-toggle="modal" data-target="#InnerBorder">Learn more</button></li>
                <li>Ridge sign <button type="button" class="modal-link" data-toggle="modal" data-target="#RidgeSign">Learn more</button></li>
                <li>Peeling edges <button type="button" class="modal-link" data-toggle="modal" data-target="#Peeling">Learn more</button></li>
             </ul>
             Contour
             <ul>
             <li>Flat</li>
          </ul>
          Fused papillae
       </td>
       </tr><tr>
          <td>Suspicious for invasive cancer</td>
          <td>
             <ul>
                <li>Atypical vessels <button type="button" class="modal-link" data-toggle="modal" data-target="#AtypicalVessels">Learn more</button></li>
                <li>Irregular surface <button type="button" class="modal-link" data-toggle="modal" data-target="#IrregularSurface">Learn more</button></li>
                <li>Exophytic lesion <button type="button" class="modal-link" data-toggle="modal" data-target="#ExophyticLesion">Learn more</button></li>
                <li>Necrosis <button type="button" class="modal-link" data-toggle="modal" data-target="#Necrosis&Ulceration">Learn more</button></li>
                <li>Ulceration <button type="button" class="modal-link" data-toggle="modal" data-target="#Necrosis&Ulceration">Learn more</button></li>
                <li>Tumor or gross neoplasm <button type="button" class="modal-link" data-toggle="modal" data-target="#Tumor">Learn more</button></li>
                <li>May not be acetowhite</li>
             </ul>
          </td>
       </tr><tr>
          <td>Other (nonspecific) <button type="button" class="modal-link" data-toggle="modal" data-target="#Other">Learn more</button></td>
          <td>
             <ul>
                <li>Leukoplakia <button type="button" class="modal-link" data-toggle="modal" data-target="#Leukoplakia">Learn more</button></li>
                <li>Erosion <button type="button" class="modal-link" data-toggle="modal" data-target="#Erosion">Learn more</button></li>
                <li>Contact bleeding</li>
                <li>Friable tissue</li>
             </ul>
          </td>
       </tr><tr>
          <td>Lugol's staining</td>
          <td>
             <ul>
                <li>Not used</li>
                <li>Stained</li>
                <li>Partially stained</li>
                <li>Nonstained <button type="button" class="modal-link" data-toggle="modal" data-target="#LugolsNonStained">Learn more</button></li>
             </ul>
          </td>
       </tr>
       <tr>
          <td>Miscellaneous findings</td>
          <td>Polyp (ectocervical or endocervical) <button type="button" class="modal-link" data-toggle="modal" data-target="#Polyp">Learn more</button><br/>
          Inflammation <button type="button" class="modal-link" data-toggle="modal" data-target="#Inflammation">Learn more</button><br/>
          Stenosis <button type="button" class="modal-link" data-toggle="modal" data-target="#Stenosis">Learn more</button><br/>
          Congenital TZ <button type="button" class="modal-link" data-toggle="modal" data-target="#CongenitalTrans">Learn more</button><br/>
          Congenital anomaly<br/>
          Post-treatment consequence (scarring) <button type="button" class="modal-link" data-toggle="modal" data-target="#PostTreat">Learn more</button><br/></td>
          <td></td>
       </tr>
       <tr>
          <td>Colposcopic impression (highest grade)</td>
          <td>Normal/benign<br/>
          Low grade<br/>
          High grade<br/>
          Cancer<br/></td>
          <td></td>
       </tr>
     </table>
   </div>

   <!-- Modals/Pop ups -->
   <!--normal findings-->
   <div class="modal fade" id="SquaJunction" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Normal squamocolumnar junction</h5>
         </div>
         <div class="modal-body">
            Blue line = SCJ<br/>
            Yellow arrow  = squamous epithelium<br/>
            Blue arrow = columnar epithelium<br/>
            <%= image_tag("glossary/SquaJunction.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="ectropion" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Ectropion</h5>
         </div>
         <div class="modal-body">
            <strong>Presence of columnar epithelium on the ectocervix<br/><br/></strong>
            Green arrow = columnar epithelium<br/>
            Yellow arrow = squamous epithelium
            <%= image_tag("glossary/Ectropion.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="SquaMeta" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Squamous metaplasia</h5>
         </div>
         <div class="modal-body">
            <strong>Replacement of columnar epithelium with squamous epithelium due to vaginal acidity & other factors, resulting in a new SCJ. May have faint acetowhite uptake.<br/></strong>
            Transformation zone: area between the original SCJ & new SCJ<br/><br/>
            Yellow line = old SCJ<br/>
            Blue line = new SCJ<br/>
            Yellow areas = acetowhite metaplastic epithelium
            <%= image_tag("glossary/SquaMeta.jpg", class: 'img-fluid', style: "margin-bottom: 40px;") %>
            Yellow line = probably old SCJ<br/>
            Blue line = new SCJ<br/>
            <%= image_tag("glossary/SquaMeta2.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="NabothianCysts" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Nabothian Cysts</h5>
         </div>
         <div class="modal-body">
            Yellow arrows = nabothian cysts
            <%= image_tag("glossary/NabothianCysts.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="CryptOpenings" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Crypt (gland) openings</h5>
         </div>
         <div class="modal-body">
            <strong>Black dot surrounded by a thin acetowhite rim in the transformation zone<br/></strong>
            Blue arrow = normal gland openings
            <%= image_tag("glossary/CryptOpen.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
      </div>
   <div class="modal fade" id="DecidPreg" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Deciduosis in pregnancy</h5>
         </div>
         <div class="modal-body">
            <strong>Whitish plaque or pseudopolyp due to focal decidual change of the cervical stroma in the second or third trimester of pregnancy<br/></strong>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="SubBranch" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Submucosal branching vessels</h5>
         </div>
         <div class="modal-body">
            <strong>Normal blood vessels have the branching pattern of a tree<br/></strong>
            <%= image_tag("glossary/SubBranch1.jpg", class: 'img-fluid', style: "margin-bottom: 40px;") %>
            <%= image_tag("glossary/SubBranch2.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>


   <!--abnormal findings-->
   <div class="modal fade" id="Acetowhite" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Acetowhite</h5>
         </div>
         <div class="modal-body">
            <strong>areas that become white after application of acetic acid. The density of the acetowhitening usually increases with lesion severity</strong>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="SatelliteLesion" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Satellite lesion</h5>
         </div>
         <div class="modal-body">
            Yellow arrow = satellite lesion
            <%= image_tag("glossary/SatelliteLesion.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>

   <!--low grade-->
   <div class="modal fade" id="LowGrade" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Low grade</h5>
         </div>
         <div class="modal-body">
            <strong> changes suggestive of benign or low grade lesions (CIN 1)</strong>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="ThinAcetowhite" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Thin acetowhite</h5>
         </div>
         <div class="modal-body">
            Yellow arrows: thin acetowhite, indistinct borders
            <%= image_tag("glossary/ThinAcetowhite.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="FineMosaic" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Fine mosaic</h5>
         </div>
         <div class="modal-body">
            <strong>Fine network of capillaries of uniform caliber on the surface of the cervix<br/></strong>
            Blue arrow = fine mosaics
            <%= image_tag("glossary/FineMosaic.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
      </div>
   <div class="modal fade" id="FinePunctation" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Fine punctation</h5>
         </div>
         <div class="modal-body">
            <strong>Fine, red dots due to small capillary projections from the stroma towards the surface<br/></strong>
            Pink arrow = fine punctation
            <%= image_tag("glossary/FinePunctation.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="IrregularBorder" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Irregular/geographic border</h5>
         </div>
         <div class="modal-body">
            <strong>indistinct, irregular, or angulated margins of acetowhite area<br/></strong>
            <%= image_tag("glossary/IrregularBorder.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="Condyloma" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Condyloma</h5>
         </div>
         <div class="modal-body">
            <strong>Warts, may appears as single or multiple distinct, lumpy, irregular lesions on the cervix, usually bright white. May be anywhere on the cervix.<br/></strong>
            Yellow arrows = condyloma
            <%= image_tag("glossary/Condyloma.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>

   <!--high grade-->
   <div class="modal fade" id="HighGrade" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">High grade</h5>
         </div>
         <div class="modal-body">
            <strong>changes suggestive of high grade lesions (CIN2, CIN3)</strong>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="ThickAW" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Thick/dense Acetowhite</h5>
         </div>
         <div class="modal-body">
            <strong>Distinct, dense and opaque white area after application of acetic acid</strong>
            Yellow arrow = dense acetowhite
            Green arrow = sharp border
            <%= image_tag("glossary/ThickAW.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="CuffedOpenings" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Cuffed crypt openings</h5>
         </div>
         <div class="modal-body">
            <strong>Large opening with a dense, raised acetowhite rim<br/></strong>
            Yellow arrows = cuffed crypt openings
            <%= image_tag("glossary/CuffedOpenings.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
      </div>
   <div class="modal fade" id="CoarseMosaic" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Coarse mosaic</h5>
         </div>
         <div class="modal-body">
            <strong>Capillary network with prominent, irregularly spaced vessels of varying caliber<br/></strong>
            Green arrows = coarse mosaic
            <%= image_tag("glossary/CoarseMosaic.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="CoarsePunctation" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Coarse punctation</h5>
         </div>
         <div class="modal-body">
            <strong>Prominent, irregularly spaced, raised, or friable red dots<br/></strong>
            Yellow arrow = coarse punctation <br/>
            Pink arrow = coarse mosaic
            <%= image_tag("glossary/CoarsePunctation.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="SharpBorder" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Sharp border</h5>
         </div>
         <div class="modal-body">
            <strong>distinct, regular border<br/></strong>
            Green arrow = sharp border <br/>
            Yellow arrow = dense acetowhite
            <%= image_tag("glossary/SharpBorder.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="InnerBorder" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Inner border sign</h5>
         </div>
         <div class="modal-body">
            <strong>Internal margins within lesion, usually indicative of a high frade lesion within a lower grade lesion<br/></strong>
            Blue arrow = dense AW<br/>
            Yellow arrow = thin AW<br/>
            Blue line = inner border
            <%= image_tag("glossary/InnerBorder.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="RidgeSign" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Ridge sign</h5>
         </div>
         <div class="modal-body">
            <strong>Thick, elevated acetowhite area projecting near the SCJ like a wall or ridge<br/></strong>
            Green arrow = ridge sign
            <%= image_tag("glossary/RidgeSign.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="Peeling" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Peeling edges, rag sign</h5>
         </div>
         <div class="modal-body">
            <strong>Epithelium easily peeled off<br/></strong>
            Blue arrow = peeling epithelium <br/>
            Yellow arrow = underlying erosion
            <%= image_tag("glossary/Peeling.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>


   <!--suspicious for invasive cancer -->
   <div class="modal fade" id="AtypicalVessels" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Atypical vessels</h5>
         </div>
         <div class="modal-body">
            <strong>Suddenly appear & disappear, have truncated or no branches, and have uneven calibers. May have bizarre shapes or “character writing pattern”<br/></strong>
            Green arrow = atypical vessels
            <%= image_tag("glossary/AtypicalVessels.jpg", class: "img-fluid", style: "margin-bottom: 40px;") %>
            Green arrow = abnormal vessels with “character writing” pattern
            <%= image_tag("glossary/AtypicalVessels2.jpg", class: "img-fluid") %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="IrregularSurface" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Irregular surface</h5>
         </div>
         <div class="modal-body">
            Yellow arrow = dense acetowhite area with irregular surface
            <%= image_tag("glossary/IrregularSurface.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="ExophyticLesion" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Exophytic lesion</h5>
         </div>
         <div class="modal-body">
            <strong>Thick, raised acetowhite area with irregular surface<br/></strong>
            <%= image_tag("glossary/ExophyticLesion.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
      </div>
   <div class="modal fade" id="Necrosis&Ulceration" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Necrosis & Ulceration</h5>
         </div>
         <div class="modal-body">
            <%= image_tag("glossary/Necrosis&Ulceration.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="Tumor" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Tumor or gross neoplasm</h5>
         </div>
         <div class="modal-body">
            Gross tumor on posterior lip of the cervix
            <%= image_tag("glossary/Tumor.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>

   <!--other (non-nonspecific)-->
   <div class="modal fade" id="Other" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">High grade</h5>
         </div>
         <div class="modal-body">
            <strong>May be seen in benign, low grade, or high grade lesions</strong>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="Leukoplakia" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Leukoplakia</h5>
         </div>
         <div class="modal-body">
            <strong>Thick, white patch visible prior to application of acetic acid</strong>
            Yellow arrow = leukoplakia
            <%= image_tag("glossary/Leukoplakia.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="Erosion" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Erosion</h5>
         </div>
         <div class="modal-body">
            <strong>Epithelium peeled off, leaving naked stroma with bleeding vessels<br/></strong>
            Yellow arrow = erosion<br/>
            Blue arrow = cuffed crypts<br/>
            Green arrow = dense acetowhite
            <%= image_tag("glossary/Erosion.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
      </div>

   <!--Lugols-->
   <div class="modal fade" id="LugolsNonStained" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Lugol’s non-stained</h5>
         </div>
         <div class="modal-body">
            <strong>yellow areas on a background of dark brown iodine-stained normal epithelium. Iodine negative staining can be due to dysplasia, inflammation, atrophy, or dystrophy. Significance must be considered in conjunction with acetowhitening.</strong>
            <%= image_tag("glossary/LugolsNonStained.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>

   <!--misc-->
   <div class="modal fade" id="Polyp" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Polyp</h5>
         </div>
         <div class="modal-body">
            <strong>most commonly mucous polyps, which are seen as soft reddish masses protruding from the external os. Usually Lugol’s negative staining, may stain acetowhite.</strong>
            <%= image_tag("glossary/Polyp.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="Inflammation" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Inflammation</h5>
         </div>
         <div class="modal-body">
            <strong>Cervical inflammation typically appears as congestion with prominent but normally branching blood vessels. Columnar epithelium can become beefy-red. May have diffuse white patches after application of acetic acid, and patchy iodine-negative staining area with application of Lugol’s.<br/></strong>
            Yellow arrow = prominent, normal vessels
            <%= image_tag("glossary/Inflammation.jpg", class: 'img-fluid', style: "margin-bottom: 40px;") %>
            <%= image_tag("glossary/Inflammation2.jpg", class: 'img-fluid', style: "margin-bottom: 40px;") %>
            Green arrow = follicular cervicitis
            <%= image_tag("glossary/Inflammation3.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="Stenosis" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Stenosis</h5>
         </div>
         <div class="modal-body">
            <strong>Can occur after surgical procedures on the cervix, vaginal delivery, or with postmenopausal atrophy</strong>
            <%= image_tag("glossary/Stenosis.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="CongenitalTrans" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Congenital transformation zone</h5>
         </div>
         <div class="modal-body">
            <strong>Large, oblong acetowhite area of the cervix due to abnormal development of the squamous epithelium characterized by excessive maturation of the superficial layers & incomplete maturation of the deeper layers.<br/></strong>
            <%= image_tag("glossary/CongenitalTrans.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal fade" id="PostTreat" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Peeling edges, rag sign</h5>
         </div>
         <div class="modal-body">
            Photo: white area prior to application of acetic acid suggests fibrosis (s/p LEEP)
            <%= image_tag("glossary/PostTreat.jpg", class: 'img-fluid') %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Term</button>
         </div>
       </div>
     </div>
   </div>


</div>
