<!--general landing page-->

<!--navbar-->
 <nav class="navbar fixed-top navbar-expand-sm bg-light justify-content-between">
   <!--logo-->
   <%= link_to(image_tag("LogoSmallNoWords.jpg", style: "width:40px"), general_path_url) %>


   <!-- Links -->
   <ul class="navbar-nav d-flex" id="navbar-item">
     <li>
        <div >
         <%= link_to "Sign in", sign_in_path %>
       </div>
     </li>
   </ul>
 </nav>

<!-- start page content-->
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1> Col|Pract</h1>
      <h2>Practice Colposcopy Online</h2>
      <h4><%= link_to "> Get Started", sign_up_path %></h4>

    </div>
    <div class="col-sm">
      <%= image_tag("ComputerColorful.jpg", id: "landing-image") %>
    </div>
  </div>

  <div class="row">
    <br/><br/><br/><br/><br/><br/><br/>
  </div>
  <div class="row">
    <div class="col-sm">
      <h3>What is Col|Pract?</h3>
      <p>ColPract is a web application developed by a collboration between the Univeristy of Virginia Gynecology and University of Virgina's Dependable Systems and Analytics Lab.</p>
      <p>It was made for the purpose to help medical students and residents strengthen their skills in Colposcopy.</p>
    </div>
  </div>
</div>
<!--end page content-->

<!-- footer-->
<footer class="pt-4 my-md-5 pt-md-5 border-top bg-white">
   <div class="container">
      <div class="row">
         <div class="col-sm-5">
            <%=image_tag("UVAMed.png") %>
         </div>
         <div class="col-sm">
            <%=image_tag("UVALink.png") %>
         </div>
         <div class="col-sm-5">
            <%=image_tag("UVAEngineering.jpg") %>
         </div>
      </div>

      <div class="row">
         <div class="col">
            <%= image_tag('LogoSmall.jpg', style: 'width:60px;') %>
            <small class="d-block mb-3 text-muted">Jan. 2021</small>
           <ul class="list-unstyled text-small">
              <li><a target="_blank" rel="noopener noreferrer" class="text-muted" href="https://skimmilk05.github.io/">Sion Kim</a></li>
              <li><a target="_blank" rel="noopener noreferrer" class="text-muted" href="https://med.virginia.edu/obgyn/education/residency-program/current-residents-recent-graduates/ashley-moon-md/">Ashley Moon</a></li>
              <li><a target="_blank" rel="noopener noreferrer" class="text-muted" href="https://engineering.virginia.edu/news/2020/05/%E2%80%98be-builder%E2%80%99">Kay Hutchinson</a></li>
              <li><a target="_blank" rel="noopener noreferrer" class="text-muted" href="https://med.virginia.edu/obgyn/2019/08/26/welcome-gyn-onc-fellow-class-of-2022/">Dr. Ian Cook, MD</a></li>
              <li><a target="_blank" rel="noopener noreferrer" class="text-muted" href="https://uvahealth.com/findadoctor/profile/leigh-anne-cantrell">Dr. Leigh Cantrell, MD, MSPH</a></li>
              <li><a target="_blank" rel="noopener noreferrer" class="text-muted" href="https://homa-alem.github.io/">Dr. Homa Alemzadeh, PhD</a></li>
           </ul>
         </div>

      </div>
   </div>
 </footer>
