<div class="summary">


<strong>Lesion Location of Cervical Biopsies :</strong>
<ul style="list-style-type:none;">
   <li><%= @image_set.lesion_location %></li>
</ul>

<strong>ECC:</strong>
<ul style="list-style-type:none;">
   <li><%= @image_set.ECC %></li>
</ul>

<strong>Category:</strong>
<ul style="list-style-type:none;">
   <li><%= @image_set.category %></li>
</ul>

<strong>Pathology:</strong>
<ul style="list-style-type:none;">
   <li><%= @image_set.pathology %></li>
</ul>

<strong>Findings:</strong>
<ul style="list-style-type:none;">
   <li><%= @image_set.findings %></li>
</ul>

</div>
