<!--practice session-->

<!--navbar-->
<nav class="navbar fixed-top navbar-expand-sm bg-light justify-content-between">
   <div>
      <%= link_to(image_tag("logos/LogoSmallNoWords.jpg", style: "width:27px"), signed_in_root_url) %> Col | Pro
   </div>

   <!-- Links -->
   <ul class="navbar-nav d-flex" id="navbar-item">
      <li>
         <div >
            <%= link_to "Exit Practice", signed_in_root_url %>
         </div>
      </li>
   </ul>
</nav>

<div class="container-fluid fullscreen justify-content-center">
   <div class="row no-gutters">
      <div class="col">
         <div id="carousel" class="carousel slide" data-ride="false" data-interval="false" data-wrap="false">

            <div class="carousel-inner">
               <% @image_sets.each do |image_set| %>  <!-- shuffle function randomizes order -->
                  <% @images = image_set.images %>
               <!-- first item must be active-->
                  <% if image_set == @image_sets[0] %>
                     <div class="carousel-item active">
                  <%else%>
                     <div class="carousel-item">
                  <%end%> <!--end conditionals -->
                        <!--start slide content-->
                  <ul class="nav nav-tabs">
                  <% @images.each do |image| %>
                     <% if image == @images[0]%>
                        <li class="nav-item active"><a class="nav-link active" data-toggle="tab" href="#<%= image.id %>"><%= image.image_type %></a></li>
                     <%else%>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#<%= image.id %>"><%= image.image_type %></a></li>
                     <%end%>
                  <%end%>
                  </ul>

                  <div class="tab-content">
                  <% @images.each do |image| %>
                     <% if (image == @images[0])%>
                        <div id="<%= image.id %>" class="tab-pane active">
                           <%= image_tag(image.img_url, class: 'd-block w-100 mx-auto my-2') %>
                     <%else%>
                        <div id="<%= image.id %>" class="tab-pane fade">
                           <%= image_tag(image.img_url, class: 'd-block w-100 mx-auto my-2') %>
                     <%end%>

                     <%if (image.image_type == 'Normal Saline' || image.image_type == 'Speculum Exam' || image.image_type == 'Normal Saline + Green Filter') %>
                        <%= button_to('^ Browse the tabs above to choose an image', '', disabled: true, class:'btn-block', style: 'color: black;')%>
                     <%else%>
                        <%= button_to('Practice with this image', new_image_session_path, params: {image_id: image.id}, method: :get, class:'btn-block')%>
                     <%end%>
                     </div>
                  <%end%>
                  </div>
                     <!-- button to create/start image_session -->
                  </div>
               <% end %> <!-- end loop -->
            </div>

               <!--controls-->
               <a class="carousel-control-prev bg-secondary" href="#carousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
               </a>

               <a class="carousel-control-next bg-secondary" href="#carousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Instructions for practice</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">      
         <strong>For mobile users:</strong> Please use rotate your phone into <strong>landscape mode</strong> for the best experience</strong><br/><br/>

         <strong>Instructions:</strong> Using the arrows rotated on the left and right, scroll through the gallery of speculum exam images. 
         To practice, use the tabs located on the top left to choose the solution, and click the button located underneath the image.<br/>
         <strong>*NOTE:</strong> You must choose a solution to practice with an image. You cannot practice on a speculum exam. 

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(window).on('load', function() {
        $('#exampleModalCenter').modal('show');
    });
</script>
