<!--practice session-->

<!--navbar-->
<nav class="navbar fixed-top navbar-expand-sm bg-light justify-content-between">
   <div>
      <%= link_to(image_tag("logos/LogoSmallNoWords.jpg", style: "width:27px"), signed_in_root_url) %> Col | Pro
   </div>

   <!-- Links -->
   <ul class="navbar-nav d-flex" id="navbar-item">
      <li>
         <div >
            <%= link_to "Exit Practice", signed_in_root_url %>
         </div>
      </li>
   </ul>
</nav>

<div class="container-fluid fullscreen justify-content-center">
   <div class="row no-gutters">
      <div class="col">
         <div id="carousel" class="carousel slide" data-ride="false" data-interval="false" data-wrap="false">

            <div class="carousel-inner">
               <% @image_sets.each do |image_set| %>  <!-- shuffle function randomizes order -->
                  <% @images = image_set.images %>
               <!-- first item must be active-->
                  <% if image_set == @image_sets[0] %>
                     <div class="carousel-item active">
                  <%else%>
                     <div class="carousel-item">
                  <%end%> <!--end conditionals -->
                        <!--start slide content-->
                  <ul class="nav nav-tabs">
                  <% @images.each do |image| %>
                     <% if image == @images[0]%>
                        <li class="nav-item active"><a class="nav-link active" data-toggle="tab" href="#<%= image.id %>"><%= image.image_type %></a></li>
                     <%else%>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#<%= image.id %>"><%= image.image_type %></a></li>
                     <%end%>
                  <%end%>
                  </ul>

                  <div class="tab-content">
                  <% @images.each do |image| %>
                     <% if image == @images[0]%>
                        <div id="<%= image.id %>" class="tab-pane active">
                           <%= image_tag(image.img_url, class: 'd-block w-100 mx-auto') %>
                           <%= button_to('^ Browse tabs above to choose image to practice ', '', disabled: true, class:'btn-block')%>
                        </div>
                     <%else%>
                        <div id="<%= image.id %>" class="tab-pane fade">
                           <%= image_tag(image.img_url, class: 'd-block w-100 mx-auto') %>
                           <%= button_to('Practice with this image', new_image_session_path, params: {image_id: @images[1].id}, method: :get, class:'btn-block')%>
                        </div>
                     <%end%>
                  <%end%>
                  </div>
                     <!-- button to create/start image_session -->
                  </div>
               <% end %> <!-- end loop -->
            </div>

               <!--controls-->
               <a class="carousel-control-prev bg-secondary" href="#carousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
               </a>

               <a class="carousel-control-next bg-secondary" href="#carousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
