
<!--navbar-->
    <nav class="navbar fixed-top navbar-expand-sm bg-light justify-content-between">
      <!--logo-->
         <% if signed_in? %>
           <%= link_to(image_tag("ColPractLogo.png", style: "width:40px"), signed_in_root_url) %>
         <% else %>
           <%= link_to(image_tag("ColPractLogo.png", style: "width:40px"), general_path_url) %>
         <% end %>
    </nav>


<div id="clearance" class="sign-up">


  <div class="center-div">
     <h2><%= t(".title") %></h2>
  </div>
  <div class="center-div">
     <%= form_for @user do |form| %>
       <%= render partial: '/users/form', object: form %>
      <%= form.submit %>
      <br/><br/>
      Already have an Account? | <%= link_to t(".sign_in"), sign_in_path %>
     <% end %>
  </div>

</div>
