<%= form_with(model: post_survey, local: true) do |form| %>
<ol type="1">
   <div class="Post survey">
      <h5>Post survey</h5>

      <%= form.hidden_field :user_id, value: current_user.id %>

      <li>
        How helpful did you find these exercises?
        <ul style="list-style-type:none;">
           <li><%= form.radio_button :s1, 'Very helpful' %> Very helpful</li>
           <li><%= form.radio_button :s1, 'Helpful' %> Helpful</li>
           <li><%= form.radio_button :s1, 'Neutral'%> Neutral</li>
           <li><%= form.radio_button :s1, 'Unhelpful'%> Unhelpful</li>
           <li><%= form.radio_button :s1, 'Very unhelpful'%> Very unhelpful</li>
        </ul>
    </li>

    <li>
        Would you recommend similar web-based colposcopy simulation to colleagues early in training?
        <ul style="list-style-type:none;">
           <li><%= form.radio_button :s2, 'Definitely' %> Definitely</li>
           <li><%= form.radio_button :s2, 'Most likely' %> Most likely</li>
           <li><%= form.radio_button :s2, 'Probably not'%> Probably not</li>
           <li><%= form.radio_button :s2, 'Unhelpful'%> Unhelpful</li>
           <li><%= form.radio_button :s2, 'Definitely not'%> Definitely not</li>        </ul>
    </li>

    <li>
        How prepared do you feel to perform colposcopy independently?
        <ul style="list-style-type:none;">
           <li><%= form.radio_button :s3, 'Not at all prepared' %> Not at all prepared</li>
           <li><%= form.radio_button :s3, 'Somewhat prepared' %> Somewhat prepared</li>
           <li><%= form.radio_button :s3, 'Adequately prepared'%> Adequately prepared</li>
           <li><%= form.radio_button :s3, 'Very well prepared'%> Very well prepared</li>
        </ul>
    </li>

    <li>
        Please provide any feedback you have regarding the exercises/features in the web app, overall usability, and thoughts on potential ways to improve this app for future use.
        <%= form.text_area :s4%>
    </li>
  </div>
</ol>

  <div class="actions">
    I'm finished, take me to the post-test!  <%= form.submit "Submit Survey >"%>
  </div>
<% end %>
