<script type="text/javascript">

   var count = 0;

   function enable(id) {
    document.getElementById(id).removeAttribute('disabled');
  }
  function disable(id) {
   document.getElementById(id).setAttribute('disabled', true);
  }

  function Q6() {
     if (count%2 == 1){
        disable('otherQ6');
     } else {
        enable('otherQ6');
     }
    }

   function submit() {
      if (document.getElementById('submit').getAttribute('disabled')) {
         alert('Please answer ALL survey questions.');
      } else {
         enable('submit');
      }
   }

</script>

<div class="pre_survey">
<%= form_with(model: pre_survey, local: true) do |form| %>

   <%= form.hidden_field :user_id, value: current_user.id %>
   <%=flash[:notice]%>

   <ol type="1">
      <div class="demographics">
         <h5>Demographics</h5>
         <li class="question">
           What level are you currently in training?
           <ul style="list-style-type:none;">
              <li><%= form.radio_button :Q1, 'Student, MS3', onclick: "disable('otherQ1')" %> Student, MS3</li>
              <li><%= form.radio_button :Q1, 'Student, MS4', onclick: "disable('otherQ1')" %> Student, MS4</li>
              <li><%= form.radio_button :Q1, 'Resident, PGY1', onclick: "disable('otherQ1')" %> Resident, PGY1</li>
              <li><%= form.radio_button :Q1, 'Resident, PGY2', onclick: "disable('otherQ1')" %> Resident, PGY2</li>
              <li><%= form.radio_button :Q1, 'Resident, PGY3', onclick: "disable('otherQ1')" %> Resident, PGY3</li>
              <li><%= form.radio_button :Q1, 'Resident, PGY4', onclick: "disable('otherQ1')" %> Resident, PGY4</li>
              <li><%= form.radio_button :Q1, 'Attending physician', onclick: "disable('otherQ1')" %> Attending physician</li>
              <li><%= form.radio_button :Q1, 'Nurse practitioner', onclick: "disable('otherQ1')" %> Nurse practitioner</li>
              <li><%= form.radio_button :Q1, 'NP or PA student', onclick: "disable('otherQ1')" %> NP or PA student</li>
              <li><%= form.radio_button :Q1, 'Other', onclick: "enable('otherQ1')"%>
               Other: <%= form.text_field :Q1_Other_value, id: 'otherQ1', disabled: true%></li>
           </ul>
         </li>

        <li class="question">
           Where are you training/practicing currently?
           <ul style="list-style-type:none;">
              <li><%= form.radio_button :Q2, 'UVA', onclick: "disable('otherQ2')" %>  University of Virginia</li>
              <li><%= form.radio_button :Q2, 'Other', onchange: "enable('otherQ2')"%> Other: <%= form.text_field :Q2_Other_value, id: 'otherQ2', disabled: true%></li>
           </ul>
        </li>

        <li class="question">
           What specialty do you practice (or plan to practice)?
           <ul style="list-style-type:none;">
              <li><%= form.radio_button :Q3, 'OBGYN', onclick: "disable('otherQ3')"%>  OBGYN</li>
              <li><%= form.radio_button :Q3, 'Family medicine', onclick: "disable('otherQ3')" %> Family medicine</li>
              <li><%= form.radio_button :Q3, 'Internal medicine', onclick: "disable('otherQ3')"%> Internal medicine</li>
              <li><%= form.radio_button :Q3, "Other", onclick: "enable('otherQ3')"%> Other: <%= form.text_field :Q3_Other_value, id: 'otherQ3', disabled: true%></li>
           </ul>
        </li>

       <li class="question">
          If OBGYN – which field do you plan to practice in?
          <ul style="list-style-type:none;">
             <li><%= form.radio_button :Q4, 'General OBGYN', onclick: "disable('otherQ4')" %>  General OBGYN</li>
             <li><%= form.radio_button :Q4, 'Gynecologic Oncology', onclick: "disable('otherQ4')" %> Gynecologic Oncology</li>
             <li><%= form.radio_button :Q4, 'Maternal fetal medicine', onclick: "disable('otherQ4')"%> Maternal fetal medicine</li>
             <li><%= form.radio_button :Q4, 'Urogynecology', onclick: "disable('otherQ4')"%> Urogynecology</li>
             <li><%= form.radio_button :Q4, 'Reproductive endocrinology and infertility', onclick: "disable('otherQ4')"%> Reproductive endocrinology and infertility</li>
             <li><%= form.radio_button :Q4, 'Benign gynecology (MIGS, etc)', onclick: "disable('otherQ4')"%> Benign gynecology (MIGS, etc)</li>
             <li><%= form.radio_button :Q4, 'Other', onclick: "enable('otherQ4')"%> Other: <%= form.text_field :Q4_Other_value, id: 'otherQ4', disabled: true%></li>
             <li><%= form.radio_button :Q4, 'N/a', onclick: "disable('otherQ4')"%> N/a</li>
          </ul>
       </li>
     </div>


     <div class="education">
        <h5>Education/Experience</h5>
        <li class="question">
           How many lectures/educational sessions have you received on colposcopy as part of your training?
           <ul style="list-style-type:none;">
             <li><%= form.radio_button :Q5, '0' %>  0</li>
             <li><%= form.radio_button :Q5, '1' %> 1</li>
             <li><%= form.radio_button :Q5, '2'%> 2</li>
             <li><%= form.radio_button :Q5, '3'%> 3</li>
             <li><%= form.radio_button :Q5, '4'%> 4</li>
             <li><%= form.radio_button :Q5, '>4'%> >4</li>
          </ul>
        </li>

        <li class="question">
           What aspects of colposcopy education have been incorporated into your training? (please check all that apply)
           <ul style="list-style-type:none;">
             <li><%= form.check_box :Q6_Lectures %>  Lectures</li>
             <li><%= form.check_box :Q6_Online_modules  %> Online modules</li>
             <li><%= form.check_box :Q6_Hands_on_simulation %> Hands on simulation/trainers</li>
             <li><%= form.check_box :Q6_Web_based_simulation %> Web based simulation</li>
             <li><%= form.check_box :Q6_Chalk_talk %> Chalk talks</li>
             <li><%= form.check_box :Q6_Case_based_teaching  %> Case based teaching</li>
             <li><%= form.check_box :Q6_Other, onclick: "enable('otherQ6')" %> Other: <%= form.text_field :Q6_Other_value, id: 'otherQ6', disabled: true %></li>
          </ul>
        </li>

        <li class="question">
           How much prior clinical experience have you had with colposcopy?
           <ul style="list-style-type:none;">
             <li><%= form.radio_button :Q7, '0' %>  None</li>
             <li><%= form.radio_button :Q7, '1' %> <5 patients</li>
             <li><%= form.radio_button :Q7, '2'%> 5-15 patients</li>
             <li><%= form.radio_button :Q7, '3'%> 15-30 patients</li>
             <li><%= form.radio_button :Q7, '4'%> 30-50 patients</li>
             <li><%= form.radio_button :Q7, '>4'%> >50 patients</li>
          </ul>
        </li>

        <li class="question">
           How prepared do you feel to perform colposcopy independently?
           <ul style="list-style-type:none;">
             <li><%= form.radio_button :Q8, 'Not at all prepared' %>  Not at all prepared</li>
             <li><%= form.radio_button :Q8, 'Somewhat prepared' %> Somewhat prepared</li>
             <li><%= form.radio_button :Q8, 'Adequately prepared'%> Adequately prepared</li>
             <li><%= form.radio_button :Q8, 'Very well prepared'%> Very well prepared</li>
          </ul>

        </li>

        <li class="question">
           Please rate how important you feel it is to be trained in colposcopy
           <ul style="list-style-type:none;">
             <li><%= form.radio_button :Q9, 'Very important' %>  Very important</li>
             <li><%= form.radio_button :Q9, 'Important' %> Important</li>
             <li><%= form.radio_button :Q9, 'Neutral'%> Neutral</li>
             <li><%= form.radio_button :Q9, 'Unimportant'%> Unimportant</li>
             <li><%= form.radio_button :Q9, 'Very Unimportant'%> Very Unimportant</li>
          </ul>
        </li>
     </div>
</ol>



  <div class="actions">
    <%= form.submit "Submit Survey >" %>
  </div>
<% end %>
</div>
