<%= form_with(model: test, local: true) do |form| %>

<%= form.hidden_field :user_id, value: current_user.id %>
<%= form.hidden_field :pre_test, value: true %>
<%= form.hidden_field :questions_correct, value: 1 %>

  Welcome to your Test! Here are directions:

  <ol type="1">
  <% @test_questions.each do |test_question| %>
   <!-- question -->
   <li>
   <%= render 'test_questions/test_questions', test_question: test_question %>

   <%= form.fields_for :test_answers, local: true do |answers_form| %>
      <%= answers_form.hidden_field :test_question_id, value: test_question.id %>
      <%= answers_form.hidden_field :test_id, value: @test.id %>
   <!-- answer choices and options-->
   <ul style="list-style-type:none;">
      <% test_question.test_options.each do |test_option| %>
        <li> <%= answers_form.radio_button :letter, test_option.letter%>
        <%= render 'test_options/test_options', test_option: test_option %> </li>
     <%end%> <!--end options-->

   <% end %> <!--end test answer--->
   </ul>
  <%end%> <!-- end question-->
</ol>


<div class="actions">
 <%= form.submit %>
</div>
<% end %>
