<%= form_with(model: test, local: true) do |form| %>

<%= form.hidden_field :user_id, value: current_user.id %>
<% if @pre_test_exists %>
   <%= form.hidden_field :pre_test, value: true %>
<%else %>
   <%= form.hidden_field :pre_test, value: false %>
<%end%>

  Welcome to your Test! Here are directions:

  <ol type="1">
  <% @test_questions.each do |test_question| %>
   <!-- question -->
   <li>
   <%= render 'test_questions/test_questions', test_question: test_question %>

   <%= form.fields_for :test_answers, local: true do |answers_form| %>
      <%= answers_form.hidden_field :test_question_id, value: test_question.id %>
      <%= answers_form.hidden_field :test_id, value: @test.id %>
   <!-- answer choices and options-->
   <ul style="list-style-type:none;">
      <% test_question.test_options.each do |test_option| %>
        <li>
           <%= answers_form.radio_button :letter, test_option.letter%>
           <% if test_option.text != nil %>
               <%= test_option.letter + '. '+test_option.text %>
           <%else%>
               <%= test_option.letter + '. ' %>
           <%end%>
           <% if test_option.img_url != nil %>
               <%= image_tag(test_option.img_url, style: 'width:10%; display:inline;') %>
           <%end%>
        </li>
     <%end%> <!--end options-->
   <% end %> <!--end test answer--->
   </ul>
  <%end%> <!-- end question-->
</ol>


<div class="actions">
 <%= form.submit "Submit Test"%>
</div>
<% end %>
