<div class="test">
<%= form_with(model: test, local: true) do |form| %>

<%= form.hidden_field :user_id, value: current_user.id %>
<% if @pre_test_exists %>
   <%= form.hidden_field :pre_test, value: true %>
<%else %>
   <%= form.hidden_field :pre_test, value: false %>
<%end%>

  Welcome to your Test! Here are directions:


  <ul style="list-style-type:none;">
  <% @test_questions.each do |test_question| %>
   <!-- question -->
   <li>
   <% if test_question.id == 5 %>
      [Question 5: Multiple Choice Questions with Types and Examples]
      Please select one of the following for each of the following colposcopic findings: benign, low grade, high grade, or suspicious for invasion <br/>
   <% elsif test_question.id == 30 %>
      For questions 10-14, please identify the following findings in each photo & label as suggestive of low or high grade findings: <br/>
   <% end %>

   <%= render 'test_questions/test_questions', test_question: test_question %>

   <%= form.fields_for :test_answers, local: true do |answers_form| %>
      <%= answers_form.hidden_field :test_question_id, value: test_question.id %>
      <%= answers_form.hidden_field :test_id, value: @test.id %>
   <!-- answer choices and options-->
   <ul style="list-style-type:none;">
      <% test_question.test_options.each do |test_option| %>
        <li>
           <%= answers_form.radio_button :letter, test_option.letter%>
           <% if test_option.text != nil %>
               <%= test_option.letter + '. '+test_option.text %>
           <%else%>
               <%= test_option.letter + '. ' %>
           <%end%>
           <% if test_option.img_url != nil %>
               <%= image_tag(test_option.img_url, style: 'width:50%; display:inline;', class: 'my-3') %>
           <%end%>
        </li>
     <%end%> <!--end options-->
   <% end %> <!--end test answer--->
   </ul>
   <br/>
  <%end%> <!-- end question-->
</ul>


<div class="actions">
 <%= form.submit "Submit Test"%>
</div>
<% end %>

</div>
