<style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%
  }
  h2 {
     text-align: center;
 }

</style>

<h2>The ASCCP Terminology for Colposcopic Practice</h2>

<%= link_to 'Exit Glossary', signed_in_root_url, class: 'float-right' %>

<%=image_tag("GlossaryChart.jpg") %>

<!-- footer-->
<footer class="pt-4 my-md-5 pt-md-5 border-top bg-white">
   <div class="container">
      <div class="row">
         <div class="col-sm-5">
            <%= link_to(image_tag("UVAMed.png"), 'https://med.virginia.edu/obgyn/') %>
         </div>
         <div class="col-sm">
            <%= link_to(image_tag("UVADSA.png", class: 'img-fluid', style: "width:80px"), 'https://homa-alem.github.io/students.html') %>
         </div>
         <div class="col-sm-5">
            <%= link_to(image_tag("UVAEngineering.jpg"), 'https://engineering.virginia.edu/departments/computer-science') %>
         </div>
      </div>
      <br/>
      <br/>

      <div class="row">
         <div class="col">
           <ul class="list-unstyled text-small">
              <li><a target="_blank" rel="noopener noreferrer" class="text-muted" href="https://skimmilk05.github.io/">Sion Kim</a></li>
              <li><a target="_blank" rel="noopener noreferrer" class="text-muted" href="https://med.virginia.edu/obgyn/education/residency-program/current-residents-recent-graduates/ashley-moon-md/">Dr. Ashley Moon, MD</a></li>
              <li><a target="_blank" rel="noopener noreferrer" class="text-muted" href="https://engineering.virginia.edu/news/2020/05/%E2%80%98be-builder%E2%80%99">Kay Hutchinson</a></li>
              <li><a target="_blank" rel="noopener noreferrer" class="text-muted" href="https://med.virginia.edu/obgyn/2019/08/26/welcome-gyn-onc-fellow-class-of-2022/">Dr. Ian Cook, MD</a></li>
              <li><a target="_blank" rel="noopener noreferrer" class="text-muted" href="https://uvahealth.com/findadoctor/profile/leigh-anne-cantrell">Dr. Leigh Cantrell, MD, MSPH</a></li>
              <li><a target="_blank" rel="noopener noreferrer" class="text-muted" href="https://homa-alem.github.io/">Dr. Homa Alemzadeh, PhD</a></li>
           </ul>
           <br/>

           <%= image_tag('LogoSmall.jpg', style: 'width:60px; height:auto;') %>
           <small class="d-block mb-3 text-muted">&copy 2021 Sion Kim<br/>All Rights Reserved</small>

         </div>
      </div>
   </div>
 </footer>
