<!--Dashboard-->



   <h2> Home Page -Dashboard </h2>
   <p> Welcome, <%= current_user.first_name %>! </p>
   <br/>
   <%= button_to "Practice", image_sets_path, method: :get %>
   <br/>
   <%= link_to "Glossary", 'glossary' %>
   <br/><br/>
   <%= button_to 'TakePreTest', new_test_path, method: :get %>
     <%= button_to('Take PostTest', tests_path, params: {user_id: current_user.id, pre_test: false, questions_correct: 0 }, method: :post, class:'')%>

     <%= button_to 'TakePreSurvey', new_pre_survey_path, method: :get %>
     <%= button_to 'TakePostSurvey', new_post_survey_path, method: :get %>

   <%#= button_to('Biopsy on Acetowhite', image_sessions_path, params: {user_id: current_user.id, image_id: @images[2].id, greenRight: 0, blueRight: 0, greenWrong: 0, blueWrong:0, colorlessWrong: 0, greenLeft: @images[1].green_areas.length(), blueLeft: @images[1].blue_areas.length()}, method: :post, class:'btn-block')%>


 <div class="collapse" id="changePassword">
   <div class="card card-body">
     <div id="clearance" class="password-reset">
      <h3>Change Your Password</h3>

      <p>To be emailed a link to change your password, please enter your email address.</p>

      <%= form_for :password, url: passwords_path do |form| %>
         <div class="text-field">
           <%= form.label :email %>
           <%= form.text_field :email, type: 'email' %>
         </div>

         <div class="submit-field">
           <%= form.submit value="Submit"%>
         </div>
      <% end %>

     </div>
   </div>
 </div>
