<!--Dashboard-->
<script type="text/javascript">
   function message() {
      if (<%= @first_time_user%>) {
         alert('Please take the initial survey and test first.');
      }
      else if (<%= @has_survey_permission_user || @has_test_permission_user %>){
         alert('Please take the follow-up survey and test first.');
      }
   };
</script>

<!--navbar-->
<nav class="navbar fixed-top navbar-expand-sm bg-light justify-content-between">
   <!--logo-->
   <div>
   <%= link_to(image_tag("logos/LogoSmallNoWords.jpg", style: "width:27px"), signed_in_root_url) %> Col | Pro
   </div>

   <!-- Links -->
   <ul class="navbar-nav d-flex" id="navbar-item">

      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Signed in
         </a>
         <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <div class="dropdown-item"><%= current_user.first_name %> <%=current_user.last_name %></div>
            <div class="dropdown-item"><%= current_user.email %></div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"><%= button_to "Sign out", sign_out_path, method: :delete, class: "invisible-button" %></a>
         </div>
      </li>
   </ul>
</nav>
<!--end nav bar-->



<!-- start page content-->
<div class="container">
   <div class="row mt-4">
      <div class="col-sm">
         <h3 class="text-center">Welcome, <%= current_user.first_name %>!</h3>
         <% if @first_time_user %>
            <p class="text-center" id="alert">Please take an initial survey and test to get started.</p>
            <% if @has_survey_permission_user %>
               <div class="d-flex justify-content-center">
                  <%= button_to 'Take Initial Survey', new_pre_survey_path, method: :get%>
               </div>
            <% elsif @has_test_permission_user %>
               <div class="d-flex justify-content-center">
                  <%= button_to 'Take Initial Test', new_test_path, method: :get%>
               </div>
            <%end%>
            You will be prompted to complete the post test after completion of 10 practice sets. You are welcome to continue to use the app as much as you would like after that - there are many more practice sets available! You will then be requested to complete the post test again 30 days, 90 days, and 180 days later.
         <% else%>
            <% if @has_survey_permission_user %>
               <p class="d-flex justify-content-text-center" id="alert">Please take a follow-up survey and test.</p>
               <div class="d-flex justify-content-center">
                  <%= button_to 'Take Follow-Up Survey', new_post_survey_path, method: :get%>
               </div>
            <% elsif @has_test_permission_user %>
               <p class="d-flex justify-content-text-center" id="alert">Please take a follow-up survey and test.</p>
               <div class="d-flex justify-content-center">
                  <%= button_to 'Take Post-test', new_test_path, method: :get%>
               </div>
            <%end%>
         <%end%>
         <br/>
         <p class="text-center" id="notice"><%= notice %></p>
         <p class="text-center" id="alert"><%= alert %></p>
      </div>
   </div>

   <div class="row mt-3 mb-5">
      <div class="col-sm">
         <div class="card-deck">
            <div class="card text-left w-60 ">
               <div class="card-body">
                  <div class="media">
                    <div class="media-body">
                      <h5 class="mt-0">Start a Practice Session</h5>
                      Polish your procedure for Colposcopy through an online simulation with feedback
                    </div>
                    <%= image_tag('logos/HeartAndMouse.png', class: 'ml-2', style: "width:100px;") %>
                 </div>
               </div>
               <div class="card-footer text-muted" onclick="message();">
                  <%= link_to_if !(@has_permission_user), "> Practice", image_sets_path %>
               </div>
            </div>

            <div class="card text-left w-60 ">
               <div class="card-body">
                  <div class="media">
                    <div class="media-body">
                      <h5 class="mt-0">Go to the Glossary</h5>
                      Study and learn the ASCCP Terminology for Colposcopic Practice through a web-based glossary
                    </div>
                    <%= image_tag('logos/GlossaryIcon.png', class: 'mr-2', style: "width:90px;") %>
                 </div>
               </div>
               <div class="card-footer text-muted" onclick="message()">
                  <% if !(@has_permission_user) %>
                     <%= button_to "> ASCCP Glossary", glossary_sessions_path, params: {user_id: current_user.id}, method: :post, class: 'invisible-button'%>
                  <% else %>
                     > ASCCP Glossary
                  <% end %>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="row mt-5 mb-5">
   </div>

   <div class="row mt-5 mb-5">
   </div>

   <div class="row mt-5 mb-5">
   </div>

   <div class="row mt-3 mb-3">
   </div>


</div>



<!-- footer-->
<footer class="pt-4 my-md-5 pt-md-5 border-top bg-white">
   <div class="container">
      <div class="row">
         <div class="col-sm-5">
            <%= link_to(image_tag("logos/UVAMed.png"), 'https://med.virginia.edu/obgyn/') %>
         </div>
         <div class="col-sm">
            <%= link_to(image_tag("logos/UVADSA.png", class: 'img-fluid', style: "width:80px"), 'https://homa-alem.github.io/students.html') %>
         </div>
         <div class="col-sm-5">
            <%= link_to(image_tag("logos/UVAEngineering.jpg"), 'https://engineering.virginia.edu/departments/computer-science') %>
         </div>
      </div>
      <br/>
      <br/>

      <div class="row">
         <div class="col">

           <ul class="list-unstyled text-small">
              <li><a target="_blank" rel="noopener noreferrer" class="text-muted" href="https://skimmilk05.github.io/">Sion Kim</a></li>
              <li><a target="_blank" rel="noopener noreferrer" class="text-muted" href="https://med.virginia.edu/obgyn/education/residency-program/current-residents-recent-graduates/ashley-moon-md/">Dr. Ashley Moon, MD</a></li>
              <li><a target="_blank" rel="noopener noreferrer" class="text-muted" href="https://engineering.virginia.edu/news/2020/05/%E2%80%98be-builder%E2%80%99">Kay Hutchinson</a></li>
              <li><a target="_blank" rel="noopener noreferrer" class="text-muted" href="https://med.virginia.edu/obgyn/2019/08/26/welcome-gyn-onc-fellow-class-of-2022/">Dr. Ian Cook, MD</a></li>
              <li><a target="_blank" rel="noopener noreferrer" class="text-muted" href="https://uvahealth.com/findadoctor/profile/leigh-anne-cantrell">Dr. Leigh Cantrell, MD, MSPH</a></li>
              <li><a target="_blank" rel="noopener noreferrer" class="text-muted" href="https://homa-alem.github.io/">Dr. Homa Alemzadeh, PhD</a></li>
           </ul>
           <br/>



           <small class="d-block mb-4 text-muted">Cervical images: <br> © International Agency<br> for Research on Cancer &<br> Univerisity of Virginia <br>Department of Gynecology</small>
           <small class="d-block mb-4 text-muted"><a target="_blank" rel="noopener noreferrer" class="text-muted" href="https://icons8.com/">icons8.com</a></small>

           <%= image_tag('logos/LogoSmall.jpg', style: 'width:60px;') %>
           <small class="d-block mb-3 text-muted">&copy 2021 Sion Kim<br/>All Rights Reserved</small>

         </div>
      </div>
   </div>
 </footer>
